/* ---------- VARIABLES ---------- */
:root {
  --color-primary: #3b82f6;
  --color-secondary: #facc15;
  --color-text: #1f2937;
  --color-bg: #ffffff;

  --size-xs: 2px;
  --size-sm: 4px;
  --size-base: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-xl: 64px;
  --size-2xl: 128px;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2rem;
}

/* ---------- RESET ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- UTILITIES ---------- */


/* ---------- BASE ---------- */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: calc(1em + 0.5rem);
}

/* ---------- COMPONENT ---------- */


/* ---------- LAYOUT ---------- */
/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding: 4rem 0;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
